.venv/
__pycache__/
*.pyc
.pytest_cache/
.env
dist/
node_modules/
.DS_Store
*.log
google_studio/
Anayaa/
milvus.db
milvus.db/
anayaa

backend/.env
backend/.venv/
backend/anayaa/
frontend/node_modules/
frontend/dist/
frontend/.vite/
backend/data/milvus.db
backend/data/milvus.db-*
backend/data/onnx_embeddings/
