.venv/
__pycache__/
*.pyc
.env
dist/
node_modules/
.DS_Store
google_studio/
Anayaa/
milvus.db/
anayaa

backend/.env
backend/.venv/
backend/anayaa/
frontend/node_modules/
frontend/dist/
backend/data/milvus.db
